.container {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 23rem;
    align-items: center;
    border-style: groove;
    background-color: #DAD9D7;
    border-radius: 1.9rem;
}

.base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.titleConfig {
    font-family: "Unica One", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-grow: 1;
}

.linkConfig {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.loginConfig{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.image{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

input[type=email]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
}
input[type=password]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     padding-left: 10px;    
}