.pai_AdocaoAnimais {
  background-image: url(./animals.png);
  background-position: center center;
  min-height: 100vh;
  min-width: 100%;
  background-size: 100%;
}

.base_AdocaoAnimais {
  padding: 40px;
  display: grid;
  justify-items: center;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  background-color: #fdfaba !important;
}

.sombra_AdocaoAnimais {
  box-shadow: 0 0 0.3em black;
  background-color: #eceff3 !important;
  border-radius: 30px !important;
}

.organizacao_AdocaoAnimais {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.nome_AdocaoAnimais {
  justify-content: flex-start;
  width: 100%;
  font-size: 2.3rem;
  font-family: "Roboto", sans-serif;
}

.tamanhoSexo_AdocaoAnimais {
  display: flex;
  width: 20%;
  align-items: center;
}

.tamanho_AdocaoAnimais {
  font-size: 1.5rem;
}

.local_AdocaoAnimais {
  font-family: "Roboto", sans-serif;
  font-size: 20.25px;
}
