.base{

    display: flex;
    flex-direction: column;
    max-width: 423px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.image{

    width: 1rem;
    height: 1rem;
    padding-left: 1rem;]
}