.background_Image_Adote_ja {
  background-image: url(./animals.png);
  background-position: center center;
  min-height: 100vh;
  min-width: 100%;
  background-size: 100%;
}

.marketplace {
  padding: 2.5rem;
  display: grid;
  justify-items: center;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.TítuloAdoteJa {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  background-color: rgb(237, 254, 38);
  border-top: 1px solid;
  font-weight: bold;
}

.AdoteJaDescription {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgb(237, 254, 38);
  border-bottom: 1px solid;
  margin-bottom: ;
}

@media (max-width: 400px) {
  .TítuloAdoteJa {
    font-size: 30px;
  }

  .AdoteJaDescription {
    font-size: 18px;
  }
  .marketplace {
    padding: 0.8rem;
  }
}
