.Descricao_Home {
  background-color: #fffcc1;
}

.SobreNos {
  display: flex;
  padding: 30px;
  align-items: "center";
  width: "100%";
  height: "40vh";
}

.SobreNosTitulo_Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.SobreNosDescricao_Home {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  text-align: justify;
  padding: 10px;
  width: 50%;
}

.ComoDoar {
  display: flex;
  padding: 30px;
  margin-top: 50px;
  align-items: "center";
  width: "100%";
  height: "40vh";
}

.ComoDoarTitulo_Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.ComoDoarDescricao_Home {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  text-align: justify;
  padding: 10px;
  width: 50%;
}

.Colaboradores {
  display: flex;
  padding: 30px;
  margin-top: 50px;
  align-items: "center";
  width: "100%";
  height: "40vh";
}

.ColaboradoresTitulo_Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.ColaboradoresDescricao_Home {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 10px;
  width: 50%;
}
.tittleAdoteHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 3em;
  font-weight: bold;
}

.baseCarrosel2 {
  padding: 1rem;
  width: 100%;
  height: 12em;
  margin-top: 10px;
}

.CarrosselHome2 {
  position: relative;
  width: 100%;
  padding: 0.7rem;
  max-width: 176px;
}

.middleAnimalCarrossel2 {
  display: flex;
  justify-content: center !important;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin-left: 0.6rem;
}

.textAnimalCarrossel2 {
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.imageAnimalCarrossel2 {
  display: flex;
  height: 9em !important;
  width: 11em !important;
  object-fit: cover;
  border-radius: 1rem;
}

.CarrosselHome2:hover .imageAnimalCarrossel2 {
  opacity: 0.3;
  cursor: pointer;
}

.CarrosselHome2:hover .middleAnimalCarrossel2 {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .tittleAdoteHome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: bold;
  }
}
