.tudoFooter {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.maeFooter {
  display: flex;
  justify-content: space-between;
}

.logoFooter {
  width: 4.5em;
  height: 4.5em;
  margin-left: 1.2em;
}

.iconsFooter {
  display: flex;
  color: black;
  width: 35%;
  justify-content: space-around;
  font-size: 1em;
}

.iconsFooter1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.iconsFooter2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.insta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 105%;
  color: black;
}

.face {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 102%;
  color: black;
}

.wpp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 103%;
  margin-right: 0.3em;
  color: black;
}

.emailFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 102%;
  color: black;
}

.footerLetters {
  font-size: 1em;
}

.footersIcons {
  margin-top: 0.3em;
}

.footersIcons2 {
  margin-top: 0.1em;
}

@media screen and (max-width: 885px) {
  .maeFooter {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .logoFooter {
    width: 4.5em;
    height: 4.5em;
    margin-left: -0.5em;
  }

  .iconsFooter {
    display: flex;
    color: black;
    width: 100%;
    justify-content: flex-end;
  }

  .iconsFooter1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5em;
  }

  .footerLetters {
    font-size: 0.7em;
  }

  .footersIcons2 {
    margin-right: 0.45em;
  }
}
