.CidadeAdoteJa {
  justify-content: flex-start;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.SexoAdote_Ja {
  display: flex;
  width: 20%;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.infoRow {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.card {
  background-color: #fdfaba !important;
}

.Card_adoteJa {
  box-shadow: 0 0 1em black;
  border-radius: 30px !important;
  max-height: 503px !important;
  max-width: 380px;
  min-width: 380px;
}
.tituloAdote_ja {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
.tempoAbrigo {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.descriptionAdoteJa {
  padding: 5px;
  /* font-family: "Roboto", sans-serif; */
  font-size: 15x;
  max-height: 125px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .tituloAdote_ja {
    font-size: 18px;
  }
}
