.Cidade{
    justify-content: flex-start;
    width: 100%;
}
.SexoAdote_Ja{
	display: flex;
    width: 20%;
    align-items: center;
}
.infoRow{

    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
}
.border {
    padding:20px;
    
}
.Shadow{
    box-shadow: 0 0 1em black;
    /* background-color: #e5e9b3 !important; */
    background-image: linear-gradient(rgb(230, 230, 230), rgb(230,240,30));

}