@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
<<<<<<< Updated upstream

p,
h1,
h2 {
=======
>>>>>>> Stashed changes

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body,
div#root {
  min-height: 100vh;
}
